:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --background-color: #FFFFFF;
    --accent-color:#2196F3;
    --background-color2:#2F303A;
    --background-color3:#F5F4FA;
    --line-color: #ECECEC;
    --black-color: #000000;
    --black-color2: #212121;
    --pictures-color:#EEEEEE;
    
}

/* body */
body{
       letter-spacing: 0.03em;  
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    }



ul{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
a{
    text-decoration: none;
}

h1, h2, h3, p{
    margin: 0px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
button{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section{
    padding: 94px 0;
}

.page-header{
 height: 80px;
}
.page-header-portfolio{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--line-color);
  height: 80px;
}
/* conteiner */
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.list{
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

/* logo */
.logo{
    text-decoration: none;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

}
.logo-web{
    margin-right: 0px;
color: var(--accent-color);
}
.logo-stydio{

color: var(--title-text-color);
}
.logo-footer{
    color: var(--background-color);
}
/* верхня лінія */
.page-header-conteiner{
display: flex;
align-items: center;

}

.site-nav{
    display: flex;
    margin-left: 93px;
}
.site-nav,.link {
padding-top: 32px;
padding-bottom: 32px;

color: var(--title-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;


}
/* Auth nav */
.auth-nav{
    display: flex;
margin-left: auto;

}
.auth-nav .item + .item{
    margin-left: 50px;

}
.item{
    
}
.site-nav .item + .item{
    margin-left: 50px;
    
}

.site-nav, .link.current{
    color: var(--accent-color);
}
.link:hover, .link:focus{
    color: var(--accent-color);
}


.mail-nav{
   color: var(--primary-text-color); 
   text-decoration: none;
   font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}
.mail-nav:hover, .mail-nav:focus{
    color: var(--accent-color);
}
.tel-nav{    
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
     }
     
.tel-nav:hover, .tel-nav:focus{
    color: var(--accent-color);
}
/* шапка */
.hero{
    /* height: 600px; */
    background-color:var(--background-color2);
    padding: 200px 0;
    text-align: center;
    
}
.hero-title{
width: 696px;
margin: 0 auto;
color: var(--background-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
text-decoration: none;

}

.hero-button{
    display:inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
   justify-content: center;
cursor: pointer;
   margin-top: 30px;
background-color: var(--accent-color);
color: var(--background-color);
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

align-items: center;
text-align: center;
letter-spacing: 0.06em;
    }

.hero-button:hover, .hero-button:focus{
color: var(--black-color)}


.button{
    color: var(--title-text-color);
    background-color: var(--background-color3);
    font-weight: 500;
font-size: 16px;
line-height: 1.6;
border: none;

    border-radius: 4px;
    padding: 6px 22px;
}
.button +.button{
  margin-right: 8px;  
}
.button:hover, .button:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
}
.portfolio-button{
    display: flex;
    justify-content: center;
margin-bottom: 50px;
gap: 8px;
}

/* Особливості */
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features{
    display: flex;
}
.features-list + .features-list{
    margin-left: 30px;
}
.features-title{
    margin-bottom: 10px;
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features-text{
line-height: 1.7;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.portfolio-cards{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    }

.portfolio-cards:nth-child(3n){
    margin-right: 0px;
}
.portfolio-cards:last-child{
  margin-bottom: 0px;  
}
    


.portfolio-div{
    border-width: 1px;
    border-style: solid;
    border-color: var(--line-color);
    padding: 20px 24px;
}
.portfolio-title{
    margin-bottom: 4px;
     text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--black-color2);
}
.portfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.8;
text-decoration: none;
color: var(--primary-text-color);
}
 /* чим ми займаємось */
 .work{
    padding-top: 0;
 }
 .work-images{
    display: flex;
 }
 .work-list{
    margin-left: 30px;
 }
 .work-list + .work-list{
    margin-left: 30px;
 }
 

.title{
    margin-bottom: 50px;
    color: var(--black-color2);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Наша команда */
.team{
    padding-top: 0;
    background-color:var(--background-color3)

}

.title-team{
     color: var(--title-text-color);
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.team-list{
    display: flex;
    margin-top: 50px;
}
 
.team-images{
       
background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid;
    
}    
.team-images + .team-images{
margin-left: 30px;
}
.team-person-position{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.team-person{
    margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-position{
font-weight: 400;
font-size: 16px;
line-height: 1.18;

letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/* Підвал */
.address{
    padding: 94px 0;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color2);
}

.address-link{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
text-decoration: none;
}


.address-top{
    margin-top: 20px;
}

.address-list +.address-list{
    margin-top: 9px; 
}


.mailto{
    color: var(--pictures-color);
}
.address-link:hover, .laddress-link:focus{
    color: var(--accent-color);
}